@import '~assets/styles/base.scss';

/*根组件*/
.tabBar-container{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	
	:global(.am-tab-bar){
		:global(.am-tab-bar-tab-icon){
			img{
				width: 0.45rem;
				height: 0.45rem;
			}
		}
	}	
}


